<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DisplayMessageServlet</servlet-name>
        <servlet-class>com.acme.DisplayMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayFavoriteFruitsServlet</servlet-name>
        <servlet-class>com.acme.DisplayFavoriteFruitsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPictureToBrowser</servlet-name>
        <servlet-class>com.acme.SendPictureToBrowser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPictureServlet</servlet-name>
        <servlet-class>com.acme.SendPictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendToExcelServlet</servlet-name>
        <servlet-class>com.acme.SendToExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayMessageServlet</servlet-name>
        <url-pattern>/DisplayMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayFavoriteFruitsServlet</servlet-name>
        <url-pattern>/DisplayFavoriteFruitsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPictureToBrowser</servlet-name>
        <url-pattern>/SendPictureToBrowser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPictureServlet</servlet-name>
        <url-pattern>/SendPictureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToExcelServlet</servlet-name>
        <url-pattern>/SendToExcelServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
