/Architecture/nbproject/private/
/Architecture/build/
/Day 6 - Architecture/build/
/Day 6 - Architecture/nbproject/private/
/Day 7 - Expression Language/nbproject/private/
/Day 6 - JavaBeans/nbproject/private/
/Day 6 - JavaBeans/build/
/Day 6 - JavaBeans/dist/
/Day 7 - Expression Language/build/
/Grocerific/nbproject/private/
/Grocerific/build/
/Day 8 - JSTL/nbproject/private/
/Day 8 - JSTL/build/
/Bonus - SqlInjectionDemo/nbproject/private/
/Bonus - SqlInjectionDemo/build/
/Day 9 - JDBC/nbproject/private/